{% extends "blog/base.html" %}
{% block content %}
    {% if user_obj != user %}  
        <div class="content-section border-0">        
            <div class="d-flex align-items-center gap-2">
                <h1>Subscribe to {{ profile_user }} -> </h1>
                {% if is_following %}
                    <form action="{% url 'unsubscribe' profile_user.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Unsubscribe</button>
                    </form>
                {% else %}
                    <form action="{% url 'subscribe' profile_user.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">Subscribe</button>
                    </form>
                {% endif %}
            </div>
            {% if page_obj.paginator.count > 1 %}
                <h1 class = "mb-3"> {{ page_obj.paginator.count }} Posts</h1>
            {% else %}
                <h1 class = "mb-3"> {{ page_obj.paginator.count }} Post</h1>
            {% endif %}
        </div>
    {% endif %}

    {% for post in page_obj %}
        <article class="media content-section d-flex align-items-center">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata d-flex align-items-center">
                    <spam class="me-2 author-name">{{ post.author }}</spam>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href=" {% url 'post-detail' post.id %} ">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article> 
    {% endfor %}
    
    {% if not page_obj.has_previous and not page_obj.has_next %}
        {# Don't show pagination #}
    {% else %}
        {% if page_obj.has_previous %}
            <a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <a class = "btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
    

{% endblock content %}